
.img_container img{
    /*background: #fff;*/
    width: 36%;
    height: 50%;
}

p {
    margin-left: 7%; 
    font-size: 1.5em;
    color: #f5f6fa;
    margin-top: 2%;
    color: #000;
}


ul {

    margin-left: 9%;
   
}

.botonespanel {
margin-top: 5%;
margin-bottom: 5%;
}



.perfil{
	width:100%;
	margin:50px auto;
	line-height:0;
}

img{
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}
 .perfil{

    width: 36%;
    height: 50%;
    float: left;
    display: flow-root;
     margin-left: 5%; 
   
} 

.derecha_column {
    float: right;
    display: flow-root;
    margin-right: 15%;

}


.perfil img_container {


    border-radius: 50px;

}

.botonregresar {
/*    margin-top: 25%;
    margin-left: 20%;*/

}
  .buttonDash, button {
      border: 1px dashed #7a7979;
      padding: 0.7% 5%;
      border-radius: 50px;
      background-color: transparent;   
      color: #fbb803;
      margin-right: 1%;   
      cursor: pointer;
      float: right;
      margin-bottom: 2%;
      text-decoration: none;
  }
  .buttonDash:hover , button:hover{
      border-style: solid;
      border-color:#fff;
      color: #fff;
      -webkit-transition: all 700ms ease;
      -o-transition: all 700ms ease;
      transition: all 700ms ease;
      padding: 0.7% 5%;
      border-radius: 50px;
  }

